UnityVS
NGUI
Temp
Library
NGUI.meta
UnityVS.meta
/Assets/NGUI.meta
/Assets/UnityVS.meta
/UnityVS.UnityProject.v12.suo
/UnityProject.sln
/UnityProject.userprefs
/UnityProject-csharp.sln
/UnityVS.UnityProject.CSharp.csproj
/UnityVS.UnityProject.CSharp.Editor.csproj
/UnityVS.UnityProject.sln
obj
